@tailwind base;
@tailwind components;
@tailwind utilities;

/* 스크롤바 나왔다 사라지는 layout-shift 문제 */
html {
    overflow-y: scroll;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}